body {
    background-image: url(/images/bk1.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

//文章透明度设置
.post-block {
  opacity: 0.8;
}
//侧边框的透明度设置
.sidebar {
  background-color: transparent;
  opacity: 0.9;
}
//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}
//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.8;
}
// 中心文章栏
.content {
  padding-top: 15px;
  opacity: 0.85;
}